html,body {
    height: 100%;
    font-family: Verdana, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.table > :not(caption) > * > * {
    padding: 0.5rem !important;
    margin: auto;
}

td {
    padding: 0.5rem !important;
    vertical-align: middle !important;
}

.bg-dark-50 {
    background-color: #343434;
    max-height: 35px;
}